*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*pour fixer le footer*/
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*la barre de navigation*/
nav{
    background-color: white;
}
.coleur{
    color: white;
}
.coleur:hover{
    color: white;
}
nav{
    width: 100%;
}
nav div{
    margin-left:60%;
}
li a{
    font-size: xx-large;
}

/*les titre*/
.nous h1{
    font-size: x-large;
    line-height: 210%;
}
.nous h1 span{
    color: #36a853;
    font-size: xxx-large;
}

/*gère le footer*/
footer{
    margin-top: auto;
    height: 390px;
    width: 100%;
    background-color: #222;
}
.social{
    margin-top: 2%;
}
.lien-footer a{
    color: white;
    font-size: large;
}
.lien-footer li{
    list-style: none;
}
.autre{
    margin-left: 35%;
}
.al2{
    margin-left: 10%;
}
.al3{
    margin-left: 10%;
}

p{
    font-size: x-large;
}
p span{
    color: #e0492b;
}
.poster{
    margin-left: 15%;
}
.actioner{
    margin-left: 28%;
}
.tel{
    width: 16%;
    height: 55px;
    background-color: white;
    color: #222;
}
.tel:hover{
    background-color: white;
    color: #222;
}
.reg{
    margin-left: 31%;
    width: 16%;
    height: 55px;
    background-color: white;
    color: #222;
}
.reg:hover{
    background-color: white;
    color: #222;
}


/*tablette*/
@media (max-width: 768px) {
    nav div{
        margin-left: 22%;
    }
    footer{
        height: 520px;
    }
    .social{
        margin-top: 3%;
    }
    .al2{
        margin-left: 20%;
    }
    .al3{
        margin-left: 10%;
    }
    .poster{
        margin-left: 0%;
    }
     #poster-afficher{
        width: 100%;
        height: 100%;
     }
    .tel{
        width: 30%;
        height: 55px;
    }
    .reg{
        width: 30%;
        height: 55px;
    }
    .actioner{
        margin-left: 15%;
    }
}


/*mobile*/
@media (max-width: 576px) { 
    nav div{
        margin-left: 0%;
    }
    .poster{
        margin-left: 0%;
    }
    .social{
        margin-top: 5%;
    }
    #poster-afficher{
        width: 100%;
        height: 100%;
     }
    .bas{
        margin-left: 10%;
    }
    .actioner{
        margin-left: 5%;
    }
    .tel{
        width: 35%;
        height: 55px;
    }
    .reg{
        margin-left: 25%;
        width: 35%;
        height: 55px;
    }
    footer{
        height: 720px;
    }
}

@media (max-width: 370px) { 
    .info1{
      margin-left: 8%;
      font-size: large;
    }
    .photo-box{
      width: 80%;
      margin-left: 8%;
    }
    input[type="text"]{
      border-color: #707070;
      width: 100%;
      height: 55px;
      border-radius: 15px;
    }
    .photo-box-interieur{
      width: 80%;
      margin-left: 10%;
    }
    .photo-text{
      margin-left: 35%;
    }
    input[type="file"]{
      margin-left: 1%;
      margin-top: 50%;
    }
    input[type="submit"]{
      margin-left: 30.4%;
      width: 37%;
    }
    #logo-haut{
      margin-left: -23%;
      width: 90px;
    }
    .liens{
      margin-left: -10%;
    }
    .poster{
        margin-left: 5%;
        width: 90%;
    }
    .nous h1{
        font-size: x-large;
        line-height: 210%;
    }
    .nous h1 span{
        color: #36a853;
        font-size: xxx-large;
    }
    .lien-footer{
        position: absolute;
        left: -18%;
    }
    .social{
        top: 52%;
        position: absolute;
        left: 50%;
    }
   }